
.panellink ul{
    background-color: #000 !important;
    color: 	#4cd964 !important;
}

.panellink h1 {
    color: 	#4cd964;
    text-align: center;
}

.h1color h1 {
    color:	#4cd964 !important;
}

.card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
  }